*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
    color: white;
    height: 80px;
}

.heading-title{
    margin-left: 40px;
}

.heading-title>a{
    text-decoration: none;
    color: inherit
}

.heading-title>a:hover{
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
}

.navigation{
    align-self: flex-start;
    min-width: 300px;
    height: 100%;
    margin: 0 30px;
}

.navigation-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.navigation-list-itemlink{
    display: inline-flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
    height: 80px;
}

.navigation-list-itemlink:hover{
    background-color: #6bb6ff;
    text-shadow: 1px 1px 2px black;
}

main{
    padding: 10px;
}


/*react classes*/
@keyframes spin{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spinner{
    align-self: center;
    min-width: 200px;
    min-height: 200px;
    max-width: 400px;
    max-height: 400px;
    width: 25%;
    height: 25%;
    margin: 5px;
    border-radius: 50%;
    border-top: 5px solid dodgerblue;
    animation: spin 0.7s ease-in-out infinite;
}

.student-list{
    border: 1px solid blue;
    list-style-type: none;
    padding: 0;
}

.student-list-item{
    border: 1px solid red;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.student-list-item>.student-name{
    width: 20%;
}

.student-list-item>.student-email{
    width: 20%;
}

.student-list-item>.student-class{
    width: 20%;
}

.student-list-item>.student-extras{
    width: 20%;
}
